.background {
  background-image: url("assets/imgs/background.jpg");
  background-repeat: no-repeat;
        background-size: 100% 100%;
  opacity: 0.5;
        filter:alpha(opacity=40);
        height:100%;
        width:100%;
        z-index:0.1;
  position: absolute;
  left:0;
  top: 0;;
  }

body {
    background-image: url("assets/imgs/background.jpg");
}
